COM_KEY=

# Trino Backend
BACKEND_HOST_NAME=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=

# OPA ENV VAR
TRINO_ADMIN_USERS=user,user2,user3

# ADLS
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# Hive
HIVE_POSTGRES_DB=
HIVE_POSTGRES_USER=
HIVE_POSTGRES_PASSWORD=
SERVICE_OPTS="-Djavax.jdo.option.ConnectionDriverName=org.postgresql.Driver -Djavax.jdo.option.ConnectionURL=jdbc:postgresql://metastore_db:5432/metastore -Djavax.jdo.option.ConnectionUserName=$HIVE_POSTGRES_USER -Djavax.jdo.option.ConnectionPassword=$HIVE_POSTGRES_USER"
HADOOP_OPTS="-Dfs.azure.account.oauth2.client.endpoint=https://login.microsoftonline.com/$AZURE_TENANT_ID/oauth2/token -Dfs.azure.account.oauth2.client.id=$AZURE_CLIENT_ID -Dfs.azure.account.oauth2.client.secret=$AZURE_CLIENT_SECRET"

